<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reconhecimento Facial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="div-verde">
    <h2 class="titulocadastro">Cadastrar Rostos Na Base De Dados</h2>

    <form action="/cadastrarRosto" method="POST" enctype="multipart/form-data">
        <input class="inputcadastro" type="text" name="nome" placeholder="Nome da imagem" required>
        <input class="inputfile" type="file" name="cadastrarimagem" accept="image/*" required>
        <button class="buttoncadastro" type="submit">Enviar</button>
    </form>

    <div class="image-gallery">
        {% for image in images %}
            <img src="{{ url_for('static', filename='images/' + image) }}" alt="Imagem enviada" class="gallery-image">
        {% endfor %}
    </div>
</div>


<div class="div-roxa">
    <h2 class="tituloenviar">Enviar Imagem</h2>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                {% for message in messages %}
                    <p class="flash-message">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form action="/reconhecimento" method="POST" enctype="multipart/form-data">
        <input type="file" name="imagem" accept="image/*" required>
        <button type="submit">Enviar</button>
    </form>


    <div class="image-gallery">
        {% for image in images %}
            <img src="{{ url_for('static', filename='images/' + image) }}" alt="Imagem enviada" class="gallery-image">
        {% endfor %}
    </div>
</div>

</body>
</html>
